<div class="row gy-6 gy-lg-0">
  <div class="col-md-4 col-lg-3">
    <div class="widget">
      @@if (!context.lightText) {
      <img
        class="mb-4"
        src="@@webRoot/assets/img/logo-dark.png"
        srcset="@@webRoot/assets/img/logo-dark@2x.png 2x"
        alt=""
        width="250px"
      />
      } @@if (context.lightText) {
      <img
        class="mb-4"
        src="@@webRoot/assets/img/logo-light.png"
        srcset="@@webRoot/assets/img/logo-light@2x.png 2x"
        alt=""
        width="250px"
      />
      }
      <hr class="my-4" />
      <p class="mb-4 me-7">Sushil Sadh, CPA, P.C.</p>
      <hr class="my-4" />
      <p class="mb-4 me-7">
          <p class="mb-1"> <strong>Mansha Sadh CPA</strong></p>
          <div class="meta mb-2">Licensed in NYC</div>
          <p class="mb-2">Master in Taxation, Baruch College</p>
      </p>
      <hr class="my-4" />
      
      <!-- /.social -->
    </div>
    <!-- /.widget -->
  </div>
  <!-- /column -->
  <div class="col-md-4 col-lg-3">
    <div class="widget">
      <h4 class="widget-title @@if (context.lightText) {text-white} mb-3">
        Get in Touch
      </h4>
      <address class="pe-xl-5 pe-xxl-10">
        <strong>New York</strong> <br />
        421 Seventh AvenueSuite # 900, New York, NY 10001 <br />
        <a
          href="mailto:ssadh@sadhcpa.com"
          @@if
          (!context.lightText)
          {class="link-body"
          }
          >ssadh@sadhcpa.com</a
        ><br />
        <a href="tel:212-760-1124">(212) 760-1124</a> <br />
      </address>
      <address class="pe-xl-5 pe-xxl-10">
        <strong>Texas</strong> <br />
        6502 Bandera Road Suite 100, San Antonio, TX 78238-144 <br />
        <a
          href="mailto:ssadh@sadhcpa.com"
          @@if
          (!context.lightText)
          {class="link-body"
          }
          >ssadh@sadhcpa.com</a
        ><br />
        <a href="tel:210-915-2161">(210) 915-7871</a>
      </address>
      <br />
      09:00 A.M. - 6:00 P.M. <br />
      Monday to Saturday
    </div>
    <!-- /.widget -->
  </div>
  <!-- /column -->
  <div class="col-md-4 col-lg-3">
    <div class="widget">
      <h4 class="widget-title @@if (context.lightText) {text-white} mb-3">
        Our Services
      </h4>
      <ul class="list-unstyled @@if (!context.lightText) {text-reset} mb-0">
        <li>
          <a
            title="Tax Advisory"
            href="tax-advisory-services.html"
            >Tax &amp; Advisory</a
          >
        </li>
        <li>
          <a title="Audit and Attest Services" href="audit-attest-services.html"
            >Audit and Attest Services</a
          >
        </li>
        <li>
          <a title="MYTAX" href="http://mytax.nyc/" target="_blank">MYTAX</a>
        </li>
      </ul>
    </div>

    <div class="widget">
      <h4 class="widget-title @@if (context.lightText) {text-white} mb-3 mt-7">
        Important Links
      </h4>
      <ul class="list-unstyled @@if (!context.lightText) {text-reset} mb-0">
        <li>
          <a
            title="Pay Now"
            target="_blank"
            href="https://sadhandassociates.mypaysimple.com/s/accounting-services"
            >Pay Now</a
          >
        </li>
        <li>
          <a
            title="Docu.it"
            target="_blank"
            href="https://link.edgepilot.com/s/f1279e71/uXaM6iKwCUGUAc7egG2SYQ?u=https://portal.sadhcpa.com/Login"
            >Docu.it</a
          >
        </li>
        <li>
          <a
            title="Covid -19 "
            target="_blank"
            href="https://covidtaxportal.com/kd32YTEDmwcf"
            >covid-19 update</a
          >
        </li>

        <li>
          <a title="Internal Links" target="_blank" href="internal-links.html"
            >Internal Links</a
          >
        </li>

        <li><a title="News" href="blog.html">News</a></li>
        <li>
          <a title="Tax Club" target="_blank" href="tax-club.html">Tax Club</a>
        </li>
      </ul>
    </div>
    <!-- /.widget -->
  </div>
  <!-- /column -->
  <div class="col-md-4 col-lg-3">
    <div class="widget">
      <h4
        class="widget-title @@if (context.lightText) {text-white} mb-3 text-aqua"
      >
        Other Links
      </h4>
      <ul class="list-unstyled @@if (!context.lightText) {text-reset} mb-0">
        <li><a title="Home" href="https://www.sadhcpa.com/">Home</a></li>
        <li>
          <a title="About Us" href="about-us.html">About Us</a>
        </li>
        <li><a title="Careers" href="careers.html">Careers</a></li>
        <li><a title="Contact Us" href="contact-us.html">Contact Us</a></li>
        <li><a title="FAQ" href="faq.html">FAQ</a></li>
        <li><a title="Cookies" href="cookies.html">Cookies</a></li>
        <li><a title="Disclaimer" href="disclaimer.html">Disclaimer</a></li>
        <li>
          <a title="Privacy Policy" href="privacy-policy.html"
            >Privacy Policy</a
          >
        </li>
        <li>
          <a title="Terms of Use" href="terms-of-use.html">Terms of Use</a>
        </li>
      </ul>
    </div>
    <!-- /.widget -->
  </div>
  <!-- /column -->
</div>
<!--/.row -->

<div class="row">
  <div class="col">
    <div class="d-md-flex align-items-center justify-content-between mt-14">
      <p class="mb-2 mb-lg-0">
        Copyright © Sadh & Associates LLC 2020. All rights reserved.
      </p>
      <nav class="nav social @@if (context.lightText) {social-white}">
        <a href="https://twitter.com/sadhcpa?lang=en" target="_blank"
          ><i class="uil uil-twitter"></i
        ></a>
        <a
          href="https://www.facebook.com/SADHCPA/?modal=admin_todo_tour"
          target="_blank"
          ><i class="uil uil-facebook-f"></i
        ></a>
        <a href="https://www.linkedin.com/company/sadhcpa" target="_blank"
          ><i class="uil uil-linkedin"></i
        ></a>
      </nav>
      <!-- /.social -->
    </div>
  </div>
</div>
<!--/.row -->
