<div class="bg-primary text-white fw-bold fs-15 mb-2 d-none d-lg-block">
  <div class="container py-2 d-md-flex flex-md-row">
    <div class="d-flex flex-row align-items-center">
      <div class="icon text-white fs-22 mt-1 me-2">
        <i class="uil uil-location-pin-alt"></i>
      </div>
      <address class="mb-0 ms-1">
        421 Seventh AvenueSuite # 900, New York, NY 10001
      </address>
    </div>
    <div class="d-flex flex-row align-items-center me-6 ms-auto">
      <div class="icon text-white fs-22 mt-1 me-2">
        <i class="uil uil-phone-volume"></i>
      </div>
      <p class="mb-0">
        Talk to a Consultant Today!
        <a href="tel:212-760-1124" class="link-white hover">(212) 760-1124</a>
      </p>
    </div>
    <div class="d-flex flex-row align-items-center">
      <div class="icon text-white fs-22 mt-1 me-2">
        <i class="uil uil-message"></i>
      </div>
      <p class="mb-0">
        <a href="mailto:ssadh@sadhcpa.com" class="link-white hover"
          >ssadh@sadhcpa.com</a
        >
      </p>
    </div>
  </div>
  <!-- /.container -->
</div>
