@@if (!context.centerLogo) {
<ul class="navbar-nav">
  } @@if (context.centerLogo) {
  <div class="w-100 order-1 order-lg-0 d-lg-flex">
    <ul class="navbar-nav ms-lg-auto">
      }

      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="about-us.html">About Us</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#!">Services</a>
        <ul class="dropdown-menu">
          <li class="nav-item">
            <a
          class="dropdown-item"
          href="tax-consultant-small-business-accounting-firm.html"
          >Tax & Advisory</a
        >
          </li>
          <li class="nav-item">
            <a class="dropdown-item" href="audit-attest-services.html"
          >Audit and Attest</a
        >
          </li>
          <li class="nav-item">
            <a class="dropdown-item" href="business-consulting.html">Business Consulting</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://mytax.nyc/" target="_blank" title="MYTAX International Tax Solutions">MYTAX International Tax Solutions</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#!">Resources</a>
        <ul class="dropdown-menu">
          <li class="nav-item">
            <a
              class="dropdown-item"
              href="https://link.edgepilot.com/s/f1279e71/uXaM6iKwCUGUAc7egG2SYQ?u=https://portal.sadhcpa.com/Login"
              target="_blank"
              >Docu.it</a
            >
          </li>
          <li class="nav-item">
            <a class="dropdown-item" href="internal-links.html"
              >Internal Links</a
            >
          </li>
          <li class="nav-item">
            <a class="dropdown-item" href="tax-club.html">Tax Club</a>
          </li>
        </ul>
      </li>
      <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
      @@if (context.centerLogo) {
    </ul>
    <!-- /.navbar-nav -->
  </div>
  } @@if (!context.centerLogo) {
</ul>
<!-- /.navbar-nav -->
}
