<section class="wrapper bg-light">
  <div class="container-card">
    <div
      class="card image-wrapper bg-full bg-image bg-overlay bg-overlay-light-500 pb-15 text-white"
      data-image-src="./assets/img/photos/bg22.png"
    >
      <div class="card-body py-14 px-5">
        <div class="container">
          <div class="row gx-lg-8 gx-xl-12 gy-10 gy-lg-0">
            <div class="col-lg-4 text-white text-center text-lg-start">
              <h3 class="display-4 mb-3 pe-xxl-15 text-white">Testimonials</h3>
              <p class="lead fs-lg mb-0 pe-xxl-10 text-white">
                We bring solutions to make life easier for our customers.
              </p>
            </div>
            <!-- /column -->
            <div class="col-lg-8 mt-lg-2">
              <div
                class="row align-items-center counter-wrapper gy-6 text-center text-white"
              >
                <div class="col-md-4">
                  <h3 class="counter text-white mt-8">20+</h3>
                  <p class="mb-0 text-white">Experienced tax pros</p>
                </div>
                <!--/column -->
                <div class="col-md-4">
                  <h3 class="counter text-white mt-8">100%</h3>
                  <p class="mb-0 text-white">Safe and Secure</p>
                </div>
                <!--/column -->
                <div class="col-md-4">
                  <h3 class="counter text-white mt-8">99.7%</h3>
                  <p class="mb-0 text-white">Customer Satisfaction</p>
                </div>
                <!--/column -->
              </div>
              <!--/.row -->
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </div>
      <!--/.card-body -->
    </div>
    <!--/.card -->
  </div>
  <!-- /.container-card -->
  <div class="container">
    <div class="grid mb-16 px-5">
      <div class="row isotope gy-6 mt-n18">
        <div class="item col-md-12 col-xl-4">
          <div class="card shadow-lg card-border-bottom border-soft-primary">
            <div class="card-body">
              <blockquote class="icon mb-0">
                <h5 class="mb-1">Quality</h5>
                <p>
                  "Opting for Sadh & Associates, you’ll get peace of mind
                  knowing that your taxes are done right! Appreciate their
                  patience while explaining my questions thoroughly! Highly
                  recommended!"
                </p>
                <div class="blockquote-details">
                  <div class="info ps-0">
                    <p class="mb-0">Jeremy Hall</p>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!--/column -->
        <div class="item col-md-12 col-xl-4">
          <div class="card shadow-lg card-border-bottom border-soft-primary">
            <div class="card-body">
              <blockquote class="icon mb-0">
                <h5 class="mb-1">Responsiveness</h5>
                <p>
                  “With Sadh & Associates LLC, my recent tax return experience
                  was incredible and seamless. They are knowledgeable and
                  extremely courteous. Along with completing everything
                  impeccably, they made me understand the process beautifully
                  and educated me thoroughly. Big thumbs up for Sadh &
                  Associates LLC.”
                </p>
                <div class="blockquote-details">
                  <div class="info ps-0">
                    <p class="mb-0">Frank Jones</p>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!--/column -->
        <div class="item col-md-12 col-xl-4">
          <div class="card shadow-lg card-border-bottom border-soft-primary">
            <div class="card-body">
              <blockquote class="icon mb-0">
                <h5 class="mb-1">Professionalism</h5>
                <p>
                  “I have a freelance business; Sadh & Associates LLC gave me
                  all the tools I needed to file my taxes with confidence. They
                  made it easy to make the proper claims and deductions.”
                </p>
                <div class="blockquote-details">
                  <div class="info ps-0">
                    <p class="mb-0">Shirley Bavington</p>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!--/column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.grid-view -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
